@page
@model MM.Pages.Client.Admin.EditUserModel
@using MM.ClientModels;
@using MM.Helper;
@{

    ViewData["Title"] = "Update Staff";
    ViewData["Page"] = "Update Staff";

    bool isAuthorizedForDelete = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSetupDelete).Result.Succeeded;
    bool isAuthorizedForUpdate = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSetupUpdate).Result.Succeeded;

}



@if (Model.ErrorInOperation == true)
{
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card card-testimonial">
                <div class="card-body ">
                    <div class="icon icon-danger">
                        <i class="fa fa-exclamation-triangle"></i>
                    </div>

                </div>
                <div class="card-footer ">
                    <h4 class="card-title"> @Model.notification.message</h4>
                    <h6 class="card-category">
                        <a href="javascript:;">
                            <img class="img" src="../assets/img/faces/missing.jpg">
                        </a>
                    </h6>
                    <div class="card-avatar">
                        <a href="/Admin/UserList" class="btn btn-round btn-primary"> Back to Users List</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
}
else
{

    <form class="w-100 align-content-center justify-content-center" method="post" style="width:100%">
        <div class="card shadow-sm">
            <div class="card-body">
                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-md-5">
                        <div class="card shadow-none ">
                            <partial name="_CardSimpleHeaderPartial" , model='new Header{name="Update Staff Details"}'>
                                <div class="card-body">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for=ClientUser.Id value="0" />

                                    <div class="form-group">
                                        <label asp-for=AppUser.Email class="control-label"></label>
                                        <input asp-for=AppUser.Email type="text" class="form-control form-input" readonly>
                                        <span asp-validation-for=AppUser.Email class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for=AppUser.TitleId class="control-label"></label>
                                        <select class=" form-control form-input"asp-for=AppUser.TitleId
                                                asp-items=ViewBag.TitleId>
                                            <option disabled>Please select Title/Salutation</option>
                                        </select>

                                     
                                        <span asp-validation-for=AppUser.TitleId class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for=AppUser.FirstName class="control-label"></label>
                                        <input asp-for=AppUser.FirstName type="text" class="form-control form-input">
                                        <span asp-validation-for=AppUser.FirstName class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for=AppUser.MiddleName class="control-label"></label>
                                        <input asp-for=AppUser.MiddleName type="text" class="form-control form-input">
                                        <span asp-validation-for=AppUser.MiddleName class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for=AppUser.LastName class="control-label"></label>
                                        <input asp-for=AppUser.LastName type="text" class="form-control form-input">
                                        <span asp-validation-for=AppUser.LastName class="text-danger"></span>
                                    </div>

                                    <div class="form-group">
                                        <label asp-for=AppUser.PhoneNumber class="control-label"></label>
                                        <input asp-for=AppUser.PhoneNumber type="text" class="form-control form-input">
                                        <span asp-validation-for=AppUser.PhoneNumber class="text-danger"></span>
                                    </div>

                                    <div class="form-group">

                                        <label asp-for=AppUser.GenderId class="control-label"></label>
                                        <select class=" form-control form-input"  asp-for=AppUser.GenderId
                                                asp-items=ViewBag.GenderId>
                                            <option disabled>--- Please select a value ---</option>
                                        </select>

                                        <span asp-validation-for=AppUser.GenderId class="text-danger"></span>
                                    </div>

                                </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="card shadow-none">
                            <partial name="_CardSimpleHeaderPartial" , model='new Header{name="Assign Roles and Permissions"}'>
                                <div class="card-body">
                                    @for (int i = 0; i < @Model.SystemRolesList.Count; i++)
                                    {
                                        string select = "";
                                        if (@Model.SystemRolesList[i].IsSelected == true)
                                        {
                                            select = "checked";
                                        }
                                        if (select == "checked")
                                        {
                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" value="@Model.SystemRolesList[i].Name" asp-for="@Model.SelectedRadio" checked>
                                                    <span class="form-check-sign"></span>
                                                    <span>&nbsp; &nbsp;@Model.SystemRolesList[i].Name </span>
                                                </label>
                                            </div>

                                        }
                                        else
                                        {
                                            <div class="form-check-radio">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" value="@Model.SystemRolesList[i].Name" asp-for="@Model.SelectedRadio">
                                                    <span class="form-check-sign"></span>
                                                    <span>&nbsp; &nbsp;@Model.SystemRolesList[i].Name </span>
                                                </label>
                                            </div>
                                        }



                                        if (@Model.SystemRolesList[i].Name == WISA.Services.MMRoles.LimitedAdminAccessRole)
                                        {
                                            <br />
                                            @for (int j = 0; j < Model.SystemClaimsList.Count; j++)
                                            {
                                                <input type="hidden" asp-for="@Model.SystemClaimsList[j].Type" />
                                                <input type="hidden" asp-for="@Model.SystemClaimsList[j].value" />
                                                <div class="form-check  pl-5">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" asp-for="@Model.SystemClaimsList[j].IsSelected">
                                                        <span class="form-check-sign"></span>
                                                        &nbsp; &nbsp; @Model.SystemClaimsList[j].Type
                                                    </label>
                                                </div>
                                            }
                                        }
                                        <br />
                                    }

                                    <div class="form-group">
                                        <label class="control-label">&nbsp;</label>

                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">&nbsp;</label>

                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-1"></div>
                </div>
            </div>
            <div class="card-footer text-center">
                <div class="form-group">
                    <button type="submit" class="btn btn-info btn-round btn-outline-info">Update Staff</button>
                    <a class="btn btn-info btn-round" href="/Admin/UserList">&nbsp;View User List</a>
                </div>
            </div>
        </div>
    </form>

}
@section scripts {
    <script>
        $(document).ready(function () {
                var notification = JSON.parse('@Json.Serialize(Model.notification)');
                if (notification != null) {
                    if (notification.message.length > 0) {
                        MMNotify(notification.message, notification.notificationtype);
                    }
                }
        });
    </script>
}
