@{
    string pageName = ViewData["Page"] != null ? ViewData["Page"].ToString() : "";
    string active = "";
    string show = "";
    string[] items = { };
}
<ul class="nav">
    <partial name="_NavHeaderMenu" , model='new MenuItem{url="/", icon="nc-icon nc-bell-55", linktext= "Notifications", page="Notifications"}' />
    <partial name="_NavHeaderMenu" , model='new MenuItem{url="/dashboard", icon="nc-icon nc-chart-pie-36", linktext="Dashboard", page="Dashboard"}' />
    <partial name="_NavHeaderMenu" , model='new MenuItem{url="/newticket", icon="nc-icon nc-caps-small", linktext= "Contact Board", page="Contact Board"}' />
    <partial name="_NavHeaderMenu" , model='new MenuItem{url="/tasks", icon="nc-icon nc-support-17", linktext= "Manage Requests", page="Manage Requests"}' />
    <partial name="_NavHeaderMenu" , model='new MenuItem{url="/files", icon="nc-icon nc-single-copy-04", linktext= "Manage Files", page="Manage Files"}' />



    <!-- #region Configuration up Menu Items -->
    @{
        items = new string[] { "Blocks","Units","Users","Trustees","Owners","Tenants","Pets","Vehicles", "Titles" };
        active = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "active" : "";
        show = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "show" : "";
    }
    <li class="@active">
        <a data-toggle="collapse" href="#Configuration" class="nav-link btn-magnify">
            <i class="nc-icon nc-settings-gear-65"></i>
            <p>
                Configuration <b class="caret"></b>
            </p>
        </a>
        <div class="collapse @show" id="Configuration">
            <ul class="nav">
                <partial name="_NavChildMenu" , model='new MenuItem{url="/blocks", abbreviation="BLK", linktext=items[0], page=items[0]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/units", abbreviation="UNI", linktext=items[1], page=items[1]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/users", abbreviation="USR", linktext=items[2], page=items[2]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/trustees", abbreviation="TRU", linktext=items[3], page=items[3]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/owners", abbreviation="OWN", linktext=items[4], page=items[4]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/tenants", abbreviation="TEN", linktext=items[5], page=items[5]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/pets", abbreviation="PET", linktext=items[6], page=items[6]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/vehicles", abbreviation="VEH", linktext=items[7], page=items[7]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/titles", abbreviation="TTL", linktext=items[8], page=items[8]}' />
            </ul>
        </div>
    </li>

    <!-- #endregion Configuration  Menu Items-->
    <!-- #region Member Management Items -->
    @{
        items = new string[] { "Asset Register", "Service Visit Log", "Service Providers", "Vendor List", "Consumables" };
        active = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "active" : "";
        show = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "show" : "";
    }
    <li class="@active">
        <a data-toggle="collapse" href="#Maintenance" class="nav-link btn-magnify">
            <i class="nc-icon nc-settings"></i>
            <p>
                Maintenance <b class="caret"></b>
            </p>
        </a>
        <div class="collapse @show" id="Maintenance">
            <ul class="nav">
                <partial name="_NavChildMenu" , model='new MenuItem{url="/assetRegister", abbreviation="ARG", linktext=items[0], page=items[0]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/servicevisitlog", abbreviation="SLG", linktext=items[1], page=items[1]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/ServiceProviders", abbreviation="SP", linktext=items[2], page=items[2]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/VendorList", abbreviation="VL", linktext=items[3], page=items[3]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/Consumables", abbreviation="CONS", linktext=items[4], page=items[4]}' />
            </ul>
        </div>
    </li>
    <!-- #endregion Member Management Items -->
    <!-- #region Member Management Items -->
    @{
        items = new string[] { "Income Expense", "Invoices", "Levies", "Bills", "Trust Account" };
        active = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "active" : "";
        show = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "show" : "";
    }
    <li class="@active">
        <a data-toggle="collapse" href="#Finance" class="nav-link btn-magnify">
            <i class="nc-icon nc-money-coins"></i>
            <p>
                Finance <b class="caret"></b>
            </p>
        </a>
        <div class="collapse @show" id="Finance">
            <ul class="nav">
                <partial name="_NavChildMenu" , model='new MenuItem{url="/trustaccount", abbreviation="TAC", linktext=items[4], page=items[4]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/incomeexpense", abbreviation="IEX", linktext=items[0], page=items[0]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/invoices", abbreviation="INV", linktext=items[1], page=items[1]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/levies", abbreviation="LEV", linktext=items[2], page=items[2]}' />
                <partial name="_NavChildMenu" , model='new MenuItem{url="/bills", abbreviation="BIL", linktext=items[3], page=items[3]}' />

            </ul>
        </div>
    </li>
    <!-- #endregion Member Management Items -->





    <partial name="_NavHeaderMenu" , model='new MenuItem{url="/votes", icon="nc-icon nc-box", linktext= "Votes & Surveys", page="Votes"}' />




    <!-- #region Member Reports Items -->
    @{
        items = new string[] {  "User Activity"
          };
        active = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "active" : "";
        show = Array.IndexOf(Array.ConvertAll(items, x => x.ToUpper()), pageName.ToUpper()) > -1 ? "show" : "";
    }
    <li class="@active">
        <a data-toggle="collapse" href="#reports" class="nav-link btn-magnify">
            <i class="nc-icon nc-tile-56"></i>
            <p>
                Reports <b class="caret"></b>
            </p>
        </a>
        <div class="collapse @show" id="reports">
            <ul class="nav">
                <partial name="_NavChildMenu" , model='new MenuItem{url="/Reports/UserActivity", abbreviation="UAC", linktext=items[0], page=items[0]}' />
            </ul>
        </div>
    </li>
    <!-- #endregion Report Management Items -->


</ul>