@page "/tasks"
@model TasksModel

<script src='https://cdn.tutorialjinni.com/dragula/3.7.3/dragula.min.js'></script>

<style>


    .gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);
    }

    .gu-hide {
        display: none !important;
    }

    .popover {
        background-color: white;
    }
    /* Popover Header */
    .popover-header {
        color: #000 !important;
    }

    .example-class1 {
        background-color: #2a4254;
        cursor: pointer;
        float: right;
    }



    /* Important part */
    .modal-dialog {
        overflow-y: initial !important
    }

    .modal-body {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        background-color:#f4f3ef;
    }

    .modal-backdrop {
        background-color: gray;
    }
    .full_modal-dialog {
        width: 98% !important;
        height: 93% !important;
        min-width: 98% !important;
        min-height: 93% !important;
        max-width: 98% !important;
        max-height: 93% !important;
        padding: 0 !important;
    }

    .full_modal-content {
        height: 99% !important;
        min-height: 99% !important;
    }


    /* END EXAMPLE CLASSES */

    .gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    .gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
</style>
@Html.AntiForgeryToken()
<div class="row content-fluid">
    @foreach (var group in Model.groups)
    {
        <div class="col-md-2" id="@group.Id">
            <p class="text-danger pb-2 mb-2">@group.Name</p>

            @foreach (var taskitem in Model.taskItems)
            {
                @if (taskitem.Group != null && taskitem.Group.Name == group.Name)
                {
                    <div class="card mb-1 rounded-0 shadow-sm" id="@taskitem.Id">
                        @*<img class="card-img-top" src="..." alt="Card image cap">*@

                        <div class="card-body">

                            <div class="card-title font-weight-normal">@taskitem.Name</div>
                            
                            <p class="card-text">

                                <button type="button" class="btn btn-danger btn-small p-1 m-0 example-class1"
                                        data-trigger="hover" data-toggle="popover" title="@taskitem.Name" data-content="@taskitem.Description">
                                    +
                                </button>&nbsp;&nbsp;
                                <small class="text-danger">Last updated 3 mins ago</small>
                            </p>

                        </div>
                    </div>
                }
            }

        </div>
    }
</div>



<!-- notice modal -->
<div class="modal fade" id="Mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable full_modal-dialog">
        <div class="modal-content full_modal-content">
            <div class="modal-header  p-1 m-1">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="nc-icon nc-simple-remove"></i>
                </button>
                <h5 class="modal-title" id="myModalLabel">Subject of the ticket here</h5>
            </div>
            <div class="modal-body  p-1 m-1">
                <div class="row p-0 m-0">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12 p-0 m-0">
                                <div class="card card-testimonial  p-1 m-1">
                                    <div class="card-body ">
                                        <p class="card-description">
                                            The networking at Web Summit is like no other European tech conference.
                                        </p>
                                    </div>
                                    <div class="card-footer ">
                                        <h6 class="card-category">@@ginaandrew</h6>
                                        <div class="card-avatar">
                                            <a href="javascript:;">
                                                <img class="img" src="../assets/img/faces/joe-gardner-2.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 p-0 m-0">

                                <div class="card   p-1 m-1">

                                    <div class="card-body">
                                        <ul class="list-unstyled team-members">
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-2">
                                                        <div class="avatar">
                                                            <img src="../../assets/img/faces/ayo-ogunseinde-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 col-7">
                                                        Shatlin
                                                    </div>
                                                    <div class="col-md-3 col-3 text-right">
                                                        <span class="badge badge-pill badge-success">Approved</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-2">
                                                        <div class="avatar">
                                                            <img src="../../assets/img/faces/joe-gardner-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-7 col-7">
                                                        Diana

                                                    </div>
                                                    <div class="col-md-3 col-3 text-right">
                                                        <span class="badge badge-pill badge-danger">Declined</span>
                                                    </div>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="row">
                                                    <div class="col-md-2 col-2">
                                                        <div class="avatar">
                                                            <img src="../../assets/img/faces/clem-onojeghuo-2.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                                        </div>
                                                    </div>
                                                    <div class="col-ms-7 col-7">
                                                        Mdu
                                                    </div>
                                                    <div class="col-md-3 col-3 text-right">
                                                        <span class="badge badge-pill badge-warning">None</span>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-12 p-0 m-0">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 class="title">Add Comments</h6>
                                    </div>
                                    <div class="card-body">
                                        <form>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="form-group">

                                                        <textarea rows="20" cols="80" class="form-control textarea" style="min-height:180px"></textarea>

                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="submit" class="btn btn-primary">Post</button>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                
                        <div class="col-md-7">
                            <div class="card card-timeline card-plain">
                                <div class="card-body">
                                    <ul class="timeline timeline-simple">
                                        <li class="timeline-inverted">
                                            <div class="timeline-badge danger">
                                                <i class="nc-icon nc-sun-fog-29"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <span class="badge badge-pill badge-danger">Shatlin</span>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>Wifey made the best Father's Day meal ever. So thankful so happy so blessed. Thank you for making my family We just had fun with the “future” theme !!! It was a fun night all together ... The always rude Kanye Show at 2am Sold Out Famous viewing  Figueroa and 12th in downtown.</p>
                                                </div>
                                                <h6>
                                                    <i class="ti-time"></i>
                                                    11 hours ago via Twitter
                                                </h6>
                                            </div>
                                        </li>
                                        <li class="timeline-inverted">
                                            <div class="timeline-badge success">
                                                <i class="nc-icon nc-sun-fog-29"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <span class="badge badge-pill badge-success">Neville</span>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>Thank God for the support of my wife and real friends. I also wanted to point out that it’s the first album to go number 1 off of streaming!!! I love you Ellen and also my number one design rule of anything I do from shoes to music to homes is that Kim has to like it....</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-inverted">
                                            <div class="timeline-badge info">
                                                <i class="nc-icon nc-world-2"></i>
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <span class="badge badge-pill badge-info">Diana</span>
                                                </div>
                                                <div class="timeline-body">
                                                    <p>Called I Miss the Old Kanye That’s all it was Kanye And I love you like Kanye loves Kanye Famous viewing Figueroa and 12th in downtown LA 11:10PM</p>
                                                    <p>What if Kanye made a song about Kanye Royère doesn't make a Polar bear bed but the Polar bear couch is my favorite piece of furniture we own It wasn’t any Kanyes Set on his goals Kanye</p>
                                                    <hr>
                                                </div>
                                                <div class="timeline-footer">
                                                    <div class="dropdown">
                                                        <button type="button" class="btn btn-round btn-info dropdown-toggle" data-toggle="dropdown">
                                                            <i class="nc-icon nc-settings-gear-65"></i>
                                                        </button>
                                                        <div class="dropdown-menu">
                                                            <a class="dropdown-item" href="#">Action</a>
                                                            <a class="dropdown-item" href="#">Another action</a>
                                                            <a class="dropdown-item" href="#">Something else here</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="modal-footer justify-content-around">
                <div class="row container">
                    <div class="col-md-3"> <button type="button" class="btn btn-success btn-round text-left" data-dismiss="modal">Approve</button></div>
                    <div class="col-md-3"><button type="button" class="btn btn-danger btn-round  text-left" data-dismiss="modal">Decline</button></div>
                    <div class="col-md-3"></div>
                    <div class="col-md-3 text-right"><button type="button" class="btn btn-outline-primary btn-round" data-dismiss="modal">Close</button></div>
                </div>
               
            </div>
        </div>
    </div>
</div>
<!-- end notice modal -->



@section scripts{

    <script>

        $('.card').on('click', function () {
            $('#Mymodal').modal('show')
        });

        var TaskMove;
        dragula([
            document.getElementById("1"),
            document.getElementById("2"),
            document.getElementById("3"),
            document.getElementById("4"),
            document.getElementById("5"),
            document.getElementById("6")
        ])
            .on("drag", function (el) {
                // console.log(el.getElementById("taskid").innerHtml);
                //  el.className.replace("ex-moved", "");

            })
            .on("drop", function (el, container) {

                //   el.className += "ex-moved";
                $.ajax({
                    url: '?handler=Save',
                    dataType: "json",
                    type: "POST",
                    headers: { "RequestVerificationToken": $('input[name = __RequestVerificationToken]').val() },
                    data: { "taskitem": Number(el.id), "group": Number(container.id) }
                });

            })
            .on("over", function (el, container) {

                //  container.className += "ex-over";
            })
            .on("out", function (el, container) {

                //  container.className.replace("ex-over", "");
            });

        function Save() {


            //$.post({
            //    url: '?handler=Save',
            //    dataType: 'json',
            //    headers : {
            //        RequestVerificationToken:
            //            $('input:hidden[name="__RequestVerificationToken"]').val()
            //    },
            //    data: JSON.stringify(value)
            //})
            //    .done(function (data) {
            //        if (data.success) {
            //            }
            //            else {
            //                MMNotify(data.message, "danger");
            //            }
            //    })
            //    .fail(function (error) {
            //        MMNotify("Unknown error", "danger");
            //    });
            return false;
        }

    </script>


}