@page
@model WISA.Pages.New.EditNonIndividualModel
@{
    ViewData["Title"] = "Non Individual Detail";
    ViewData["Page"] = "Non Individual Detail";

    bool isAuthorizedForDelete = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSetupDelete).Result.Succeeded;
    bool isAuthorizedForUpdate = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSetupUpdate).Result.Succeeded;

    var isSuperUser = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowSuperUser).Result.Succeeded;
    var isAdminUser = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowAdminUser).Result.Succeeded;
    var isUser = AuthorizationService.AuthorizeAsync(User, MMPolicies.AllowUserAccess).Result.Succeeded;


    if (isUser || isAdminUser || isSuperUser)
    {
        Layout = "_LayoutMain";
    }
    else
    {
        Layout = "_LayoutApply";
    }
}


<style>
    body {
        background-color: #f0f5f5;
    }

    .main-panel > .content {
        margin-top: 75px;
    }

    .table > thead > tr > th,
    .table > tbody > tr > th,
    .table > tfoot > tr > th,
    .table > thead > tr > td,
    .table > tbody > tr > td,
    .table > tfoot > tr > td {
        padding: 1px 1px;
    }

    .main-panel {
        padding-top: 15px;
    }

    .error {
        color: red;
        display: none;
    }

    .regMemberForm .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    }

    .regMemberForm .delbtn {
        cursor: pointer;
    }

    input.input-validation-error {
        background-color: #FFC0A4;
        border: 1px solid #ef8157;
        color: blue !important;
    }

    .form-control-lg {
        font-size: 25px;
        background-color: white !important;
    }

    .text-danger {
        font-size: smaller;
    }

    .required ::after {
        content: " *" !important;
        color: red !important;
    }

    .input-group, .form-group {
        margin-bottom: 2px;
    }

        .form-group .form-control, .input-group .form-control {
            padding: 5px 5px 5px 5px;
        }

    .nav-top-style {
        padding-top: 0px !important;
    }

    #addContactsModal .modal-width {
        max-width: 1500px;
        padding-top: 30px;
        /*margin-left: 20%;*/
    }

    textarea.form-control {
        max-height: 100%;
    }

    .card label {
        margin-top: 5px;
    }

    input::-webkit-input-placeholder {
        font-size: 10px;
        line-height: 3;
    }

    ::-moz-placeholder {
        font-size: 11px;
        line-height: 3;
    }

    :-ms-input-placeholder {
        font-size: 11px;
        line-height: 3;
    }
</style>


<div class="container-fluid">
    <div class="card">
        <div class="card-header text-center mt-2">
            <input type="text" class=" form-control form-control-lg border-0" asp-for=Organization.Name disabled />
        </div>
    </div>
</div>

<form id="NonMemberForm" method="post" name="NonMemberForm" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" class="form-control" asp-for=Organization.OrgMemberCode />
    <input type="hidden" class="form-control" asp-for=Organization.Id />
    <div class="row regMemberForm" id="regMemberForm">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header row mb-3">
                    <div class="col-12">
                        <div class="row">
                            



                            <div class="col-md-5">
                                @if (Model.PrimaryContactId != null)
                                {
                                    <div class="card border-0  mb-3 shadow-none">
                                        <div class="card-body">
                                            <div class="row mb-md-2 mt-md-1">
                                                <div class="col-md-5 text-left">
                                                    <label class="control-label">Primary Contact</label>
                                                </div>
                                                <div class="col-md-7 pt-1">
                                                    <a class="control-label" href="/Manage/Member?Id=@Model.PrimaryContactId">@Model.PrimaryContactName</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="col-md-4">
                                @if (Model.ContactPersonId != null)
                                {
                                    <div class="card border-0  mb-3 shadow-none">
                                        <div class="card-body">
                                            <div class="row mb-md-2 mt-md-1">
                                                <div class="col-md-5 text-left">
                                                    <label class="control-label">Contact Person</label>
                                                </div>
                                                <div class="col-md-7 pt-1">
                                                    <a class="control-label" href="/Manage/Member?Id=@Model.ContactPersonId">@Model.ContactPersonName</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                            <div class="col-md-3">
                                <div class="card border-0  mb-3 shadow-none">
                                    <div class="card-body">
                                        <div class="row mb-md-2 mt-md-1">
                                            <div class="col-md-5 text-left">
                                                <label asp-for=Organization.AccountBalance class="control-label"></label>
                                            </div>
                                            <div class="col-md-7 form-group ">
                                                <input type="text" class="form-control" asp-for=Organization.AccountBalance readonly/>
                                                <span asp-validation-for="Organization.AccountBalance" class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="card-body nav-top-style">
                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">
                            <ul id="tabs" class="nav nav-pills mb-3" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active " data-toggle="pill" href="#one" aria-controls="one" role="tab" aria-expanded="false">Profile</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#two" aria-controls="two" role="tab" aria-expanded="true">Contacts</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#three"aria-controls="three" role="tab" aria-expanded="true">Business</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#four" aria-controls="four"  role="tab" aria-expanded="false">Address</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#five" aria-controls="five" role="tab" aria-expanded="false">Membership</a>
                                </li>

                            </ul>

                            
                        </div>
                    </div>

                    <div id="my-tab-content2" class="tab-content">
                        <!--Company Information-->
                        <div class="tab-pane active" id="one" role="tabpanel" aria-expanded="true">
                            <div class="row">
                                <div class="col-1">&nbsp;</div>
                                <div class="col-10">
                                    <div class="card border shadow-none">
                                        <div class="card-body ">
                                            <div class="row mb-md-2">

                                                <div class="col-md-6 row">
                                                    <div class="col-md-4 text-left required">
                                                        <label asp-for=Organization.Name class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group ">
                                                        <input type="text" class="form-control" asp-for=Organization.Name />
                                                        <span asp-validation-for="Organization.Name" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 row">
                                                    <div class="col-md-4 text-left">
                                                        <label asp-for=Organization.WebSite class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group ">
                                                        <input type="text" class="form-control" asp-for=Organization.WebSite />
                                                        <span asp-validation-for="Organization.WebSite" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="row mb-md-2">

                                                <div class="col-md-6 row">
                                                    <div class="col-md-4 text-left required">
                                                        <label asp-for=Organization.TaxNumber class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group ">
                                                        <input type="text" class="form-control" asp-for=Organization.TaxNumber />
                                                        <span asp-validation-for="Organization.TaxNumber" class="text-danger"></span>
                                                    </div>
                                                </div>


                                                <div class="col-md-6 row">
                                                    <div class="col-md-4 text-left required">
                                                        <label asp-for=Organization.RegistrationNumber class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group ">
                                                        <input type="text" class="form-control" asp-for=Organization.RegistrationNumber />
                                                        <span asp-validation-for="Organization.RegistrationNumber" class="text-danger"></span>
                                                    </div>
                                                </div>

                                            </div>



                                            <div class="row mb-md-2">

                                                <div class="col-md-6 row">
                                                    <div class="col-md-4 text-left">
                                                        <label asp-for=Organization.PhoneNumber class="control-label"></label>
                                                    </div>
                                                    <div class="col-md-8 form-group ">
                                                        <input type="text" class="form-control" asp-for=Organization.PhoneNumber />
                                                        <span asp-validation-for="Organization.PhoneNumber" class="text-danger"></span>
                                                    </div>
                                                </div>

                                                <div class="col-md-6 row">
                                                    <div class="col-md-4 text-left required">
                                                        <label asp-for=Organization.SecondaryPhoneNumber class="control-label">Business Number</label>
                                                    </div>
                                                    <div class="col-md-8 form-group ">
                                                        <input type="text" class="form-control" asp-for=Organization.SecondaryPhoneNumber />
                                                        <span asp-validation-for="Organization.SecondaryPhoneNumber" class="text-danger"></span>
                                                    </div>
                                                </div>

                                            </div>


                                            <div class="row  mb-md-2">
                                                <div class="col-md-12 row">
                                                    <div class="col-md-2 text-left">
                                                        <label class="control-label mt-4">Description</label>
                                                    </div>
                                                    <div class="col-md-10 form-group pl-2 pr-1">
                                                        <textarea type="text" class="form-control" style="width:96%" asp-for=Organization.Notes></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>
                        </div>
                        <!--Company Information - End-->
                        <!--Contact-->
                        <div class="tab-pane fade" id="two" role="tabpanel" aria-expanded="false">
                            <div class="row">
                                <div class="col-1">&nbsp;</div>
                                <div class="col-10">
                                    <div class="row">

                                    </div>
                                    <!--Additional Contacts-->
                                    <div class="card border shadow-none">
                                        <div class="card-body">
                                            <button type="button" id="AddMembers" class="btn btn-outline-primary mb-2">
                                                Add Members
                                            </button>

                                            <table class="table table-sm table-condensed" id="addContactsTable">
                                                <thead>
                                                    <tr>
                                                        <td class="text-primary">Full Name</td>
                                                        <td class="text-primary">Membership Status</td>
                                                        <td class="text-primary">Membership Grade</td>
                                                        <td class="text-primary">Email</td>
                                                        <td class="text-primary">View/Edit</td>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    @foreach (var member in Model.membervmlist)
                                                    {
                                                        <tr>
                                                            <td>@member.FullName</td>
                                                            <td>@member.MembershipStatus</td>
                                                            <td>@member.MembershipGrade</td>
                                                            <td>@member.Email</td>
                                                            <td><a class="btn btn-info btn-round btn-icon btn-icon-mini btn-neutral" href="/Manage/Member?Id=@member.MemberId">&nbsp;<i class="nc-icon nc-ruler-pencil"></i></a>&nbsp;</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                   
                                </div>
                            </div>
                        </div>

                        <!--Contact - End-->
                        <!--Business-->
                        <div class="tab-pane fade" id="three" role="tabpanel" aria-expanded="false">
                            <div class="row">
                                <div class="col-3">&nbsp;</div>
                                <div class="col-md-6">
                                    <div class="row">

                                        <!--Core Business-->
                                        <div class="col-md-12">
                                            <div class="card border shadow-none">
                                                <div class="card-header">
                                                    <h6 class="lead"><b>Core Business</b></h6>
                                                </div>
                                                <div class="card-body">
                                                    @for(int j=0;j<Model.OrganizationBusinessList.Count;j++)
                                                    {
                                                        <input type="hidden" asp-for="@Model.OrganizationBusinessList[j].Id" />
                                                        <input type="hidden" asp-for="@Model.OrganizationBusinessList[j].BusinessId" />
                                                        <input type="hidden" asp-for="@Model.OrganizationBusinessList[j].OrganizationId" />
                                                        <div class="row mb-md-2">
                                                            <div class="col-md-7 text-left">
                                                                <label class="control-label">@Model.OrganizationBusinessList[j].Business.Name</label>
                                                            </div>
                                                            <div class="col-md-5 form-group">
                                                                <select class="form-control" asp-for=@Model.OrganizationBusinessList[j].IsSelected asp-items="ViewBag.YesNoList"></select>
                                                                <span class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                        <!--Core Business - End-->

                                    </div>

                                </div>
                                <div class="col-3">&nbsp;</div>
                            </div>
                        </div>
                        <!--Business - End-->

                        <!--Address-->
                        <div class="tab-pane fade" id="four" role="tabpanel" aria-expanded="false">
                            <div class="row">
                                <div class="col-1">&nbsp;</div>
                                <div class="col-10">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card border shadow-none">
                                                <div class="card-header">
                                                    <h6 class="lead"><b>Physical Address</b></h6>
                                                </div>

                                                <div class="card-body">
                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=PhysicalAddress.AddressLine1 class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <input type="text" class="form-control form-input" asp-for=PhysicalAddress.AddressLine1 />
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=PhysicalAddress.AddressLine2 class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <input type="text" class="form-control form-input" asp-for=PhysicalAddress.AddressLine2 />
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=PhysicalAddress.Suburb class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <input type="text" class="form-control form-input" asp-for=PhysicalAddress.Suburb />
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=PhysicalAddress.CityName class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <input type="text" class="form-control form-input" asp-for=PhysicalAddress.CityName />
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=PhysicalAddress.Province class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <select type="text" class="form-control form-input" asp-for=PhysicalAddress.StateId asp-items=ViewBag.ProvinceId>
                                                                <option value="" selected disabled>Select Province</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=PhysicalAddress.CountryId class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <select type="text" class="form-control form-input" asp-for=PhysicalAddress.CountryId asp-items=ViewBag.CountryId>
                                                                <option value="" selected disabled>Select Country</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=PhysicalAddress.PostalCode class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <input type="text" class="form-control form-input" asp-for=PhysicalAddress.PostalCode />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6">
                                            <div class="card border shadow-none">
                                                <div class="card-header">
                                                    <h6 class="lead"><b>Postal Address</b></h6>
                                                </div>

                                                <div class="card-body">
                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left required">
                                                            <label asp-for=PostalAddress.AddressLine1 class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <input type="text" class="form-control form-input" asp-for=PostalAddress.AddressLine1 />
                                                            <span asp-validation-for="PostalAddress.AddressLine1"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left required">
                                                            <label asp-for=PostalAddress.AddressLine2 class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <input type="text" class="form-control form-input" asp-for=PostalAddress.AddressLine2 />
                                                            <span asp-validation-for="PostalAddress.AddressLine2"></span>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left required">
                                                            <label asp-for=PostalAddress.Suburb class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <input type="text" class="form-control form-input" asp-for=PostalAddress.Suburb />
                                                            <span asp-validation-for="PostalAddress.Suburb"></span>
                                                        </div>
                                                    </div>
                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=PostalAddress.CityName class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <input type="text" class="form-control form-input" asp-for=PostalAddress.CityName />
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=PostalAddress.Province class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <select type="text" class="form-control form-input" asp-for=PostalAddress.StateId asp-items=ViewBag.ProvinceId>
                                                                <option value="" selected disabled>Select Province</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left required">
                                                            <label asp-for=PostalAddress.CountryId class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <select type="text" class="form-control form-input" asp-for=PostalAddress.CountryId asp-items=ViewBag.CountryId>
                                                                <option value="" selected disabled>Select Country</option>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left required">
                                                            <label asp-for=PostalAddress.PostalCode class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <input type="text" class="form-control form-input" asp-for=PostalAddress.PostalCode />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Address - End-->
                        <!--Membership Info-->
                        <div class="tab-pane fade" id="five" role="tabpanel" aria-expanded="false">
                            <div class="row">
                                <div class="col-1">&nbsp;</div>
                                <div class="col-10">
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="card border shadow-none">
                                                <div class="card-header">
                                                    <h6 class="lead"><b>others</b></h6>
                                                </div>
                                                <div class="card-body">

                                                    <div class="row mb-2">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=Organization.IsMembershipFeeInvoicedToCompany class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <select type="text" class="form-control form-input" asp-for=Organization.IsMembershipFeeInvoicedToCompany asp-items="ViewBag.YesNoList"></select>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=Organization.PublishCompanyInAnnualMemberDirectory class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <select type="text" class="form-control form-input" asp-for=Organization.PublishCompanyInAnnualMemberDirectory asp-items="ViewBag.YesNoList"></select>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=Organization.ClientBranchId class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <select type="text" class="form-control form-input" asp-for=Organization.ClientBranchId asp-items="ViewBag.ClientBranchId"></select>
                                                        </div>
                                                    </div>

                                                    <div class="row">
                                                        <div class="col-md-4 text-left">
                                                            <label asp-for=Organization.IsMembershipFeeInvoicedToCompany class="control-label"></label>
                                                        </div>
                                                        <div class="col-md-8 form-group">
                                                            <select type="text" class="form-control form-input" asp-for=Organization.IsMembershipFeeInvoicedToCompany asp-items="ViewBag.YesNoList"></select>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Membership Info - End-->
                        <!--Fee-->
                        
                        <!--Fee - End-->

                    </div>

                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-primary float-md-right">Update</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!--  JavaScript  -->
@section scripts {
    <script>
        $(document).on('click', '#AddMembers', function () {

            var OrgId = '@Json.Serialize(Model.Organization.Id)';
            window.open('/new/Individual?ReqId=3&Orgid=' + OrgId, '_self');

        });
    </script>
}
